:root{
    --partial-correct: rgb(242, 255, 59),;
    --incorrect: rgb(98, 98, 98);
    --correct: rgb(20, 122, 0);
    --primary: rgb(33, 47, 255);
    --primary-active: rgba(58, 71, 255, 0.701);
    --background: rgb(222, 222, 222);
    --close: rgb(0, 0, 0);
    --close-hover: rgb(110, 110, 110);
    --success: rgb(0, 222, 15);
    --success-hover: rgb(82, 255, 94);
    --warning: #ed5f00;
    --border-colour: black;
    min-width: 400px;
    min-height: 400px;
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--background);
    color: var(--text-colour);
}
h1{
    font-size: 3rem;
}

.heading{
    text-align: center;
}

/*Font size*/

.font-sml {
    font-size: small;
}
.font-med {
    font-size: medium;
}
.font-lge {
    font-size: large;
}
.font-lgr {
    font-size: larger;
}


.wordle-parent{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}
.wordle-square{
    border: 3px solid var(--border-colour);
    width: 70px; height: 70px;
    margin: 1px; 
    font-size: 3rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.ws-default{
    background-color: var(--background);
}
.ws-partial{
    background-color: var(--partial-correct);
}
.ws-correct{
    background-color: var(--correct);
}
.ws-incorrect{
    background-color: var(--incorrect);
}
.ws-active{
    border: 3px dashed var(--border-colour);
}

.ws-message-box{
    font-size: 2rem;
    background-color: var(--background);
    border-radius: 2vh;
    border: 4px var(--background) solid;
    position: fixed;
    position: fixed;
	top: 35%;
    left: 50%;
	transform: translateX(-50%);    
    padding-left: 10px;
    padding-right: 10px;
}


.wordle-header{
    display: inline;
}

.btn{
    color: var(--text-colour);
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    background-color: var(--primary);
}
.btn:hover{
    cursor: pointer;
    background-color: var(--primary-active);
}
.btn-selected{
    border: 2px solid var(--border-colour);
}


.heading {
    text-align: center;
}
.success{
    background-color: var(--success);
}
.success:hover{
    background-color: var(--success-hover);
}
.primary{
    background-color: var(--primary);
}
.primary:hover{
    background-color: var(--primary-active);
}

.ws-dialog-box{
     background-color: var(--background);
     position: fixed;
     width: 78%;
     height: 78%;
     left: 10%;
     top: 10%;
     border-radius: 1rem;
     border: 0.2rem solid var(--border-colour);
     padding: 2%;
     font-size: 1.5rem;
}



.dismiss-popup{
    justify-self: end;
}

.header{
    display: inline;
}

.close {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 16px;
    height: 16px;
    background-color: var(--background);
    color: var(--close);
    border: none;
    font-size: 1.5rem;
  }
  .close:hover {
    cursor: pointer;
    color: var(--close-hover);
  }

.custom-colour-container{
    overflow-y: auto;
    position: absolute;
    height: 45%;
    width: 90%;
    margin: 3%; 
}

.custom-colour-container::-webkit-scrollbar{
    background-color: var(--background);
}
.custom-colour-container::-webkit-scrollbar-thumb{
    background-color: var(--primary);
    border-radius: 2vw;
    width: 1vw;
}


.save-reset-bar{
    display: inline;
    position: fixed;
    bottom: 16vh;
}
.save-reset-bar>.save{
    right: 15vw;
    position: fixed;
    background-color: var(--success);
}
.save-reset-bar>.reset{
    left: 15vw;
    position: fixed;
    background-color: var(--warning);
}
.colour-picker{
    border: 0px solid var(--background);
    padding: none;
}